## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

## Build output:
# *.pdf

## Editors:
.vscode/
*.swp
*~

## System files:
.DS_Store
Thumbs.db

## LaTeX svg package intermediate files:
*.svg.pdf
*.svg.xbb
*.svg.gz
svg-inkscape/